.table {

    .table-body {
        display:table;

        .table-row {
            display:table-row;

            .table-cell {
                display:table-cell;
                width:200px;
                height:30px;
                line-height:30px;
                text-align:center;
                border:1px solid black;
                min-width:200px;

                input {
                  width:90%;
                  margin:0 auto;
                }
            }
        }
    }

    .header {
        display:table;

        .header-row {
            display:table-row;

            .header-cell {
                display:table-cell;
                width:200px;
                height:30px;
                line-height:30px;
                text-align:center;
                font-weight:bold;
                border:1px solid black;
                background-color:#CCC;
                min-width:200px;
            }
        }
    }
}
